@import '@/assets/styles/var.scss';

.header-wrapper {
  justify-content: center;
  // background-color: $themeBgColor;
  height: 70PX;

  .header-contanier {
    width: 70%;
    justify-content: space-between;
    align-items: center;


    .header-left {
      align-items: center;
      cursor: pointer;

      .logo {
        display: flex;
        flex-direction: row;

        // align-items: center;
        .logo_img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }

        span {
          font-size: 20px;
          font-family: Montserrat, Montserrat;
          font-weight: 700;
          color: #303133;
          // @media screen and (max-width: 750PX) {
          //   span {
          //     display: none;
          //   }
          // }
        }


        // @media screen and (max-width: 750PX) {
        //   span {
        //     display: none;
        //   }
        // }
      }

      .search {
        width: 200PX;
        background-color: #F0F1F4;
        padding: 5PX 10PX;
        border-radius: 18PX;
        display: flex;
        align-items: center;
        margin-left: 20PX;
      }

      @media screen and (max-width:750PX) {
        .search {
          width: 28px;
          padding: 5PX;
          border-radius: 50%;


        }
      }



    }

    .header-right {
      // justify-content: space-between;


      .lang {
        padding: 8PX;
        cursor: pointer;
        margin-right: 8PX;

        span {

          font-size: 15PX;

        }

        &:hover {
          background-color: #F0F1F4;
          border-radius: 15PX;
          box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        }
      }

      .network-style {
        // font-size: 14px;
        // font-family: PingFang SC, PingFang SC;
        // font-weight: 500;

        .el-dropdown-link {
          font-size: 16px;
          font-family: PingFang SC, PingFang SC;
          font-weight: 500;
          color: #303133;
        }

      }

      .login-btn {
        padding: 8PX;
        border-radius: 15PX;
        // background-color: $themeBtnColor;
        // border-color: $themeBtnBorderColor;
        // color: $themeBtnTextColor;
        height: 30PX;
        font-size: 11PX;

        &:hover {
          box-shadow: 0 0 5px #FC6D5E;
          opacity: .85;
        }
      }

      .login-out {
        cursor: pointer;
      }

      .wallet-lock {
        width: 32px;
        height: 32px;
        margin-right: 20px;
        cursor: pointer;
        margin-left: 20px;
      }

      .avatar-style {
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: none;
        outline: none;
      }

      // &:deep(.el-dropdown__popper) {
      //   --el-dropdown-menuItem-hover-color:red!important;
      // }
      .el-dropdown__popper {
        --el-dropdown-menuItem-hover-color: red !important;
      }
    }

    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 9999;

      .modal {
        background: #fff;
        padding: 20px 50px 36px;

        text-align: center;
        position: relative;
        width: 23vw;
        // box-sizing: border-box;
        line-height: 1.4;
        border-radius: 12px;
        border: 2px solid #303133;

        .close-style {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 16px;
          height: 16px;
          cursor: pointer;
        }

        .start-lock {
          .lock-icon {
            width: 60px;
            height: 60px;
          }

          .modal-title {
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #303133;
            margin-bottom: 8px;
          }

          .info {
            font-size: 14px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            color: #909399;
            margin-bottom: 36px;
          }

          .add-lock {
            background: #0F7BFF;
            border-radius: 12px;
            border: 2px solid #303133;
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            box-sizing: border-box;
            // padding: 20px 100px;
            padding: 16px 0;
            cursor: pointer;
            box-shadow: 3px 3px 0px #303133;
          }
        }

        .setPwd {
          box-sizing: border-box;

          .modal-title {
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #303133;
            margin-bottom: 50px;
          }

          .info {
            font-size: 14px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            color: #696266;
            margin-bottom: 20px;
          }

          .input-area {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            padding: 0 20px;

            input {
              width: 14%;
              padding: 10px 0;
              text-align: center;
              font-size: 20px;
              border-radius: 4px;
              border: 2px solid #303133;
            }
          }

          .add-lock {
            background: #0F7BFF;
            border-radius: 12px;
            border: 2px solid #303133;
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            box-sizing: border-box;
            padding: 16px 0;
            cursor: pointer;
            box-shadow: 3px 3px 0px #303133;
          }
        }

        .confirmPwd {
          .modal-title {
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #303133;
            margin-bottom: 50px;
          }

          .info {
            font-size: 14px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            color: #696266;
            margin-bottom: 20px;
          }

          .input-area {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            padding: 0 20px;

            input {
              width: 14%;
              padding: 10px 0;
              text-align: center;
              font-size: 20px;
              border-radius: 4px;
              border: 2px solid #303133;
            }
          }

          .add-lock {
            background: #0F7BFF;
            border-radius: 12px;
            border: 2px solid #303133;
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            box-sizing: border-box;
            padding: 16px 0;
            cursor: pointer;
            box-shadow: 3px 3px 0px #303133;
          }

        }

        .isComplete {
          background-color: #EDEFF2 !important;
          color: #BFC2CC !important;
          border: 2px solid #BFC2CC !important;
          box-shadow: 3px 3px 0px #BFC2CC !important;
        }

        .set-success {
          img {
            // margin-top: 20px;
            width: 60px;
            height: 60px;
            margin-bottom: 24px;
          }

          .modal-title {
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #303133;
            margin-bottom: 10px;
          }

          .info {
            font-size: 14px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            color: #696266;
            margin-bottom: 36px;
          }

          .add-lock {
            background: #0F7BFF;
            border-radius: 12px;
            border: 2px solid #303133;
            font-size: 19px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            box-sizing: border-box;
            padding: 16px 0;
            cursor: pointer;
            box-shadow: 3px 3px 0px #303133;
          }
        }

        .set-fault {
          img {
            // margin-top: 20px;
            width: 60px;
            height: 60px;
            margin-bottom: 24px;
          }

          .modal-title {
            font-size: 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #303133;
            margin-bottom: 10px;
          }

          .info {
            font-size: 14px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            color: #696266;
            margin-bottom: 36px;
          }

          .add-lock {
            background: #0F7BFF;
            border-radius: 12px;
            border: 2px solid #303133;
            font-size: 19px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            box-sizing: border-box;
            padding: 16px 0;
            cursor: pointer;
            box-shadow: 3px 3px 0px #303133;
          }
        }
      }
    }


  }

  @media screen and (max-width:1440PX) {
    .header-contanier {
      width: 80%;
      justify-content: space-between;
      align-items: center;


      .header-left {
        align-items: center;
        cursor: pointer;

        .logo {
          display: flex;
          flex-direction: row;

          // align-items: center;
          .logo_img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }

          span {
            font-size: 20px;
            font-family: Montserrat, Montserrat;
            font-weight: 700;
            color: #303133;
          }

          // @media screen and (max-width: 750PX) {
          //   span {
          //     display: none;
          //   }
          // }
        }

        .search {
          width: 200PX;
          background-color: #F0F1F4;
          padding: 5PX 10PX;
          border-radius: 18PX;
          display: flex;
          align-items: center;
          margin-left: 20PX;
        }

        @media screen and (max-width:750PX) {
          .search {
            width: 28px;
            padding: 5PX;
            border-radius: 50%;


          }
        }



      }

      .header-right {
        // justify-content: space-between;


        .lang {
          padding: 8PX;
          cursor: pointer;
          margin-right: 8PX;

          span {

            font-size: 15PX;

          }

          &:hover {
            background-color: #F0F1F4;
            border-radius: 15PX;
            box-shadow: 0 0 5px rgba(0, 0, 0, .1);
          }
        }

        .login-btn {
          padding: 8PX;
          border-radius: 15PX;
          // background-color: $themeBtnColor;
          // border-color: $themeBtnBorderColor;
          // color: $themeBtnTextColor;
          height: 30PX;
          font-size: 11PX;

          &:hover {
            box-shadow: 0 0 5px #FC6D5E;
            opacity: .85;
          }
        }

        .login-out {
          cursor: pointer;
        }

        .wallet-lock {
          width: 32px;
          height: 32px;
          margin-right: 20px;
          cursor: pointer;
          margin-left: 20px;
        }

        .avatar-style {
          width: 35px;
          height: 35px;
          cursor: pointer;
          border: none;
        }

        // &:deep(.el-dropdown__popper) {
        //   --el-dropdown-menuItem-hover-color:red!important;
        // }
        .el-dropdown__popper {
          --el-dropdown-menuItem-hover-color: red !important;
        }
      }

      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;

        .modal {
          background: #fff;
          padding: 20px 36px 36px;
          text-align: center;
          position: relative;
          width: 30vw;
          // box-sizing: border-box;
          line-height: 1.4;
          border-radius: 12px;
          border: 2px solid #303133;

          .close-style {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 16px;
            height: 16px;
            cursor: pointer;
          }

          .start-lock {
            .lock-icon {
              width: 60px;
              height: 60px;
            }

            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 8px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #909399;
              margin-bottom: 36px;
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              // padding: 20px 100px;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }
          }

          .setPwd {
            box-sizing: border-box;

            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 50px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #696266;
              margin-bottom: 20px;
            }

            .input-area {
              display: flex;
              justify-content: space-between;
              margin-bottom: 50px;
              padding: 0 20px;

              input {
                width: 13%;
                padding: 10px 0;
                text-align: center;
                font-size: 20px;
              }
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }
          }

          .confirmPwd {
            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 50px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #696266;
              margin-bottom: 20px;
            }

            .input-area {
              display: flex;
              justify-content: space-between;
              margin-bottom: 50px;
              padding: 0 20px;

              input {
                width: 13%;
                padding: 10px 0;
                text-align: center;
                font-size: 20px;
              }
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 19px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }

          }

          .isComplete {
            background-color: #EDEFF2 !important;
            color: #BFC2CC !important;
            border: 2px solid #BFC2CC !important;
          }

          .set-success {
            img {
              // margin-top: 20px;
              width: 60px;
              height: 60px;
              margin-bottom: 24px;
            }

            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 10px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #696266;
              margin-bottom: 36px;
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 19px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }
          }
        }
      }


    }

  }

  @media screen and (max-width:750PX) {
    .header-contanier {
      width: 90%;

      .header-left {
        .logo {
          .logo_img {
            width: 32px;
            height: 32px;
          }

          span {
            font-family: PingFang SC, PingFang SC;
          }
        }
      }

      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;

        .modal {
          background: #fff;
          padding: 20px;
          text-align: center;
          position: relative;
          width: 80vw;
          // box-sizing: border-box;
          line-height: 1.4;
          border-radius: 12px;
          border: 2px solid #303133;

          .close-style {
            position: absolute;
            right: 15px;
            top: 22px;
            width: 12px;
            height: 12px;
            cursor: pointer;
          }

          .start-lock {
            .lock-icon {
              width: 60px;
              height: 60px;
            }

            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 8px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #909399;
              margin-bottom: 36px;
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              // padding: 20px 100px;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }
          }

          .setPwd {
            box-sizing: border-box;

            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 50px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #696266;
              margin-bottom: 20px;
            }

            .input-area {
              display: flex;
              justify-content: space-between;
              margin-bottom: 50px;
              padding: 0 20px;

              input {
                width: 14%;
                padding: 10px 0;
                text-align: center;
                font-size: 20px;
              }
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }
          }

          .confirmPwd {
            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 50px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #696266;
              margin-bottom: 20px;
            }

            .input-area {
              display: flex;
              justify-content: space-between;
              margin-bottom: 50px;
              padding: 0 20px;

              input {
                width: 14%;
                padding: 10px 0;
                text-align: center;
                font-size: 20px;
              }
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 19px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }

          }

          .isComplete {
            background-color: #EDEFF2 !important;
            color: #BFC2CC !important;
            border: 2px solid #BFC2CC !important;
          }

          .set-success {
            img {
              // margin-top: 20px;
              width: 60px;
              height: 60px;
              margin-bottom: 24px;
            }

            .modal-title {
              font-size: 16px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #303133;
              margin-bottom: 10px;
            }

            .info {
              font-size: 14px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 400;
              color: #696266;
              margin-bottom: 36px;
            }

            .add-lock {
              background: #0F7BFF;
              border-radius: 12px;
              border: 2px solid #303133;
              font-size: 19px;
              font-family: PingFang SC, PingFang SC;
              font-weight: 500;
              color: #FFFFFF;
              box-sizing: border-box;
              padding: 16px 0;
              cursor: pointer;
              box-shadow: 3px 3px 0px #303133;
            }
          }
        }
      }


    }
  }
  .el-dropdown{
    vertical-align: middle;
  }
  .el-dropdown-link {
    cursor: pointer;
    color: #0f7bff;
    display: flex;
    align-items: center;
    outline: none;

    .show-coin {
      margin-right: 5px;
    }

  }
}


.avatar-dropdown {

}

.el-dropdown__popper.el-popper {
  padding: 16px;
  width: 350px;
  @media screen and (max-width:750PX) {
    width: 270px;
  }
}

.el-dropdown__list {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #303133;
  @media screen and (max-width:750PX) {
    font-size: 14px;
  }

  .top-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .top-title {}

    .net-tab {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon-style {}

      .net-name {
        margin-left: 5px;
        color: #5D74A1;
      }
    }
  }


  .tab-wallet {
    .wallet-type {
      display: flex;
      box-sizing: border-box;
      border-top: 1px solid #303133;
      padding: 16px 0;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .left-content {
        display: flex;
        align-items: center;

        .chain-icon {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }

      }

      .right-content {
        width: 12px;
        height: 12px;
      }

    }

    .btc-address {
      box-sizing: border-box;
      border-radius: 6px 6px 6px 6px;
      border: 1px solid #303133;
      padding: 12px 0;

      .title {
        box-sizing: border-box;
        margin-bottom: 12px;
        padding: 0 12px;
        color: #909399;
      }

      .address-type {
        .line {
          box-sizing: border-box;
          padding: 8px 12px;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          position: relative;

          img {
            position: absolute;
            margin-right: 12px;
          }

          .content {
            box-sizing: border-box;
            padding-left: 25px;

            .two-line {
              color: #909399;

            }
          }
        }

        .selected {
          background: rgba(15, 123, 255, 0.05);
        }
      }
    }
  }
}